@media (max-width: 768px) {
  .footer {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .table-scroll-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-scroll-container table {
    min-width: 600px; /* Adjust as needed */
    width: 100%;
  }
}
